<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="consts.js"></script>    
<script src="gameplayutils.js"></script>
<script src="output.js"></script>
<script src="kickoff.js"></script>
<script src="pass.js"></script>
<script src="shot.js"></script>
<script src="dibre.js"></script>
<script src="touch.js"></script>
<script src="cmd.js"></script>
<script src="ia.js"></script>
<script src="utils.js"></script>  
<script src="gameover.js"></script>

    
<style>

    .teamx{
        color: blue;
    }
    .teamo{
        color: red;
    }
    .playeroff {
        text-decoration: line-through;
    }
</style>   

<style>

.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
}
.buttonx {
  background-color: #0000FF;
}
    
.buttono {
  background-color: #ff0000;
}
</style>
    
<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
    
<!--touc -->
<style>
    body {
        padding: 50px;
        font-family: sans-serif;
    }

    #box {
        width:  100px;
        height: 100px;
        background-color: red;
    }
</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<input type="radio" id="teamx" ng-model="playerteam" ng-value="TEAMX">
<label for="teamx" class="teamx">Team X</label><br>
<input type="radio" id="teamo" ng-model="playerteam" ng-value="TEAMO">
<label for="teamo" class="teamo">Team O</label><br>
playerteam: {{playerteam}}    
<hr>


<br>
<label for="matchtime">matchtime(sec) :</label>
<input ng-model="matchtime" type="number" id="matchtime" name="quantity" min="10" max="120">
<br>
<button class="teamo" ng-click="go()">
VAAAAAAAAAAAAI
</button>

<br>
<button onclick="window.initcmd();">Initialize</button>
<br>

   
    

<hr>

<div>
    <h1>
        <table border="0">
            <tr>
            <td class="teamx">Team X</td>
            <td>{{displayableField.scorex}}</td>
            <td>X</td>
            <td>{{displayableField.scoreo}}</td>
            <td class="teamo">Team O</td>
            </tr>
        </table>
    </h1>
</div>
<hr>    
    displayableField.ballholder.id:{{displayableField.ballholder.id}}
<table style="width: 1200px; height: 300px" border = "1">
	<tbody>
        <tr><td>
<canvas id="canvas" width="400" height="400" style="border:solid black 1px;">
  You really badly need to use a different browser.
</canvas>
            </td>
            <td>
                <span >
                        <button class="buttonx button" ng-click="pass('x',-1,-1)">&nwarr; ({{displayableField.chancesx[0]}})</button>    
                    <button class="buttonx button" ng-click="pass('x',0,-1)">&uarr;({{displayableField.chancesx[1]}}%)</button>  
                    <button class="buttonx button" ng-click="pass('x',1,-1)">&nearr;({{displayableField.chancesx[2]}}%)</button>  
                    <br>
                    <button class="buttonx button" ng-click="pass('x',-1,0)">&larr;({{displayableField.chancesx[3]}}%)</button>
                    <button class="buttonx button" ng-click="dibre('x')">Z ({{displayableField.chancesx[4]}}%)</button>
                    <button class="buttonx button" ng-click="pass('x',1,0)">&rarr; ({{displayableField.chancesx[5]}}%)</button>    
                    <br>
                    <button class="buttonx button" ng-click="pass('x',-1,1)">&swarr; ({{displayableField.chancesx[6]}}%)</button>    
                    <button class="buttonx button" ng-click="pass('x',0,1)">&darr; ({{displayableField.chancesx[7]}}%)</button>    
                    <button class="buttonx button" ng-click="pass('x',1,1)">&searr; ({{displayableField.chancesx[8]}}%)</button>    
                    <br>
                    <button class="buttonx button" ng-click="shot('x')">Shot X ({{displayableField.chancesx[9]}}%)</button>      
                </span>
            </td>
            <td>
            
            <table style="width: 200px; height: 300px" border = "1">    
                <tbody>
                    <tr>
                        <td colspan=2 style="text-align:center">
                        <div class="tooltip">
                            <span class="teamx">
                                {{displayableField.keeper['x'].number}}
                                <span ng-show="displayableField.ballholder.id == displayableField.keeper['x'].id">.</span>
                                <span class="tooltiptext">{{displayableField.keeper['x']}}</span>
                            </span>
                        </div>
                        </td>
                     </tr>
                    <tr>
                        <td>
                            <span ng-repeat="player in displayableField.field[0]" >
                                <div class="tooltip">
                                    <span ng-class="{'teamx': player.team == 'x', 
                                                    'teamo': player.team == 'o',
                                                    'playeroff': player.off == true}">
                                        {{player.number}} <span ng-show="displayableField.ballholder.id == player.id">.</span>
                                    </span>
                                    <span class="tooltiptext">{{player}}</span>
                                </div> 
                            </span> 
                        </td>
                        <td>
                            <span ng-repeat="player in displayableField.field[1]" >
                                <div class="tooltip">
                                    <span ng-class="{'teamx': player.team == 'x', 'teamo': player.team == 'o',
                                                    'playeroff':  player.off == true}">
                                        {{player.number}} <span ng-show="displayableField.ballholder.id == player.id">.</span>
                                    </span>
                                    <span class="tooltiptext">{{player}}</span>
                                </div> 
                            </span> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span ng-repeat="player in displayableField.field[2]" >
                                <div class="tooltip">
                                    <span ng-class="{'teamx': player.team == 'x', 'teamo': player.team == 'o',
                                                    'playeroff':  player.off == true}">
                                        {{player.number}} <span ng-show="displayableField.ballholder.id == player.id">.</span>
                                    </span>
                                    <span class="tooltiptext">{{player}}</span>
                                </div> 
                            </span> 
                        </td>
                        <td>
                            <span ng-repeat="player in displayableField.field[3]" >
                                <div class="tooltip">
                                    <span ng-class="{'teamx': player.team == 'x', 'teamo': player.team == 'o',
                                                    'playeroff':  player.off == true}">
                                        {{player.number}} <span ng-show="displayableField.ballholder.id == player.id">.</span>
                                    </span>
                                    <span class="tooltiptext">{{player}}</span>
                                </div> 
                            </span> 
                        </td>            
                    </tr>
                    <tr>			<td>
                            <span ng-repeat="player in displayableField.field[4]" >
                                <div class="tooltip">
                                    <span ng-class="{'teamx': player.team == 'x', 'teamo': player.team == 'o',
                                                    'playeroff':  player.off == true}">
                                        {{player.number}} <span ng-show="displayableField.ballholder.id == player.id">.</span>
                                    </span>
                                    <span class="tooltiptext">{{player}}</span>
                                </div> 
                            </span> 
                        </td>			<td>
                            <span ng-repeat="player in displayableField.field[5]" >
                                <div class="tooltip">
                                    <span ng-class="{'teamx': player.team == 'x', 'teamo': player.team == 'o',
                                                    'playeroff':  player.off == true}">
                                        {{player.number}} <span ng-show="displayableField.ballholder.id == player.id">.</span>
                                    </span>
                                    <span class="tooltiptext">{{player}}</span>
                                </div> 
                            </span> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align:center">
                            <div class="tooltip">
                                <span class="teamo">
                                    {{displayableField.keeper['o'].number}}
                                    <span ng-show="displayableField.ballholder.id == displayableField.keeper['o'].id">.</span>
                                    <span class="tooltiptext">{{displayableField.keeper['o']}}</span>
                                </span>
                            </div>
                        </td>
                     </tr>
                </tbody>
            </table>
        </td>
            <td>
<span >
                    <button class="buttono button" ng-click="pass('o',-1,-1)">&nwarr; ({{displayableField.chanceso[0]}})</button>    
                    <button class="buttono button" ng-click="pass('o',0,-1)">&uarr;({{displayableField.chanceso[1]}}%)</button>  
                    <button class="buttono button" ng-click="pass('o',1,-1)">&nearr;({{displayableField.chanceso[2]}}%)</button>  
                    <br>
                    <button class="buttono button" ng-click="pass('o',-1,0)">&larr;({{displayableField.chanceso[3]}}%)</button>
                    <button class="buttono button" ng-click="dibre('o')">Z ({{displayableField.chanceso[4]}}%)</button>
                    <button class="buttono button" ng-click="pass('o',1,0)">&rarr; ({{displayableField.chanceso[5]}}%)</button>    
                    <br>
                    <button class="buttono button" ng-click="pass('o',-1,1)">&swarr; ({{displayableField.chanceso[6]}}%)</button>    
                    <button class="buttono button" ng-click="pass('o',0,1)">&darr; ({{displayableField.chanceso[7]}}%)</button>    
                    <button class="buttono button" ng-click="pass('o',1,1)">&searr; ({{displayableField.chanceso[8]}}%)</button>   
                    <br>
                    <button class="buttono button" ng-click="shot('o')">Shot O ({{displayableField.chanceso[9]}}%)</button>      
                </span>
            </td>
        </tr>
    </tbody>
</table>

    

<button ng-click="showlog = !showlog" ng-init="showlog=false">showlog</button>    
<span ng-show="showlog">
    Log: <pre id="log" style="border: 1px solid #ccc;"></pre>
</span> 

    
    <table style="width: 800px; height: 300px" border = "1">
        <tbody>
            <tr id="actionmsgtable">

            </tr>
        </tbody>
    </table>
</div>
<script>

  
    
    
    
var app = angular.module('myApp', []);
var game = {};




 
    
    
    


function displayField(game){
    
    var field = [[],[],[],[],[],[]];
    game.field.forEach(function(player){
        var dispPlayer = Object.assign({}, player);;
        game.playersdown.forEach(function(playerdown){
            if(playerdown.id == player.id){
                dispPlayer.off = true;
            }
        })
        field[player.sector].push(dispPlayer); 
    });
    var displayable = {};
    displayable.field = field;
    displayable.ballholder = game.ballholder;
    displayable.keeper = [];
    displayable.keeper[TEAMX] = game.keeper[TEAMX]
    displayable.keeper[TEAMO] = game.keeper[TEAMO]
    
    displayable.scoreo = game.scoreo;
    displayable.scorex = game.scorex;
    
    
    displayable.chanceso = getchances(TEAMO);
    displayable.chancesx = getchances(TEAMX);    
    
  
    
    
		
    return displayable;
}    
    
function processTick(game){
    return displayField(game);    
}
        
    
    
    
    
    app.controller('myCtrl', function($scope/*, $interval*/) {
   
    $scope.TEAMX = TEAMX;
    $scope.TEAMO = TEAMO;
    $scope.matchtime = 60;
        
    game = createTestGame();        
    game.playerteam = $scope.playerteam;
            
        
    document.addEventListener("cmdinput", function(evt){
        var actionResult = runCommand(evt, $scope.playerteam);
        processActionResult(actionResult);
        
        
        //isso pode sair quando nao for usar mais angular
        $scope.displayableField = processTick(game);
        $scope.$apply();
    });
        
        
        
        
        
    $scope.pass = function(team, axisx, axisy){
        console.log("paaas: " + "team: " + team + " axisx: " + axisx + " axisy: " + axisy);

        var actionResult = runCommand(new CustomEvent("cmdinput", { "detail": {"cmd": "pass", "axisx": axisx, "axisy": axisy}}), team);
        processActionResult(actionResult);
        
        
        $scope.displayableField = processTick(game);
        $scope.$apply();
    }
    
    $scope.shot = function(team) {
        var actionResult = runCommand(new CustomEvent("cmdinput", { "detail": {"cmd": "shot"}}), team);
        processActionResult(actionResult);
        
        $scope.displayableField = processTick(game);
        $scope.$apply();
    }
    
    $scope.dibre = function(team) {
        var actionResult = runCommand(new CustomEvent("cmdinput", { "detail": {"cmd": "dibre"}}), team);
        processActionResult(actionResult);
        
        $scope.displayableField = processTick(game);
        $scope.$apply();
    }
    
    
  //  $interval(function(){$scope.displayableField = processTick(game, commandP1, commandP2), 10000, 1})
    $scope.displayableField = processTick(game);
    
      
        
    $scope.go = function(){
        var actionResult = kickoff(game);
        processActionResult(actionResult);

        setInterval(function(){
            processActionResult(tickOpponent());
            //isso pode sair quando nao for usar mais angular
            $scope.displayableField = processTick(game);
            $scope.$apply();
        }, 1500);
        
        setInterval(function(){
            
            $scope.matchtime = $scope.matchtime - 1;
            console.log("matchtime: " + $scope.matchtime)
            
            if($scope.matchtime == 0 ) {
                var actionResult = gameover(game);
                processActionResult(actionResult);   
                
                setTimeout(function(){
                    window.location.replace("gameover.html");
                },3000)
                
            }
        }, 1000 )

    }    
    
    
//    /processTick(createTestGame(), commandP1, commandP2)
    
});
    
    
</script>

</body>
</html>